# Папки сборки
Debug/
Release/
build/

# Настройки IDE
.settings/
.metadata/

# Файлы отладчика
*.launch

# Временные файлы
*.swp
*.swo
*~

# Объектные файлы
*.o
*.d
*.elf
*.hex
*.bin
*.map
*.lst
*.dep

# CubeMX
*.mxproject
*.ioc

# Системные папки Windows
Thumbs.db
Desktop.ini